<script setup>
import { ref, computed } from "vue";
</script>

<template>
  <div
    class="
      flex flex-col
      items-center
      max-w-md
      mx-auto
      lg:flex-row lg:max-w-none
    "
  >
    <div
      class="
        relative
        flex-1
        w-full
        overflow-hidden
        bg-white
        border border-gray-200
        rounded-2xl
      "
    >
      <div class="py-8 px-9">
        <div
          class="
            inline-flex
            items-center
            justify-center
            w-10
            h-10
            text-base
            font-bold
            text-white
            bg-gray-900
            rounded-xl
            font-pj
          "
        >
          1
        </div>
        <p class="mt-5 text-xl font-medium text-gray-900 font-pj">
          Vragen over het koppel
        </p>
      </div>
    </div>

    <div class="block -my-1 lg:hidden">
      <svg
        class="w-4 h-auto text-gray-300"
        viewBox="0 0 16 32"
        fill="none"
        stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 21)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 14)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 7)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 0)"
        />
      </svg>
    </div>

    <div class="hidden lg:block lg:-mx-2">
      <svg
        class="w-auto h-4 text-gray-300"
        viewBox="0 0 81 16"
        fill="none"
        stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 11 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 46 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 81 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 18 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 53 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 25 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 60 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 32 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 67 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 39 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 74 1)"
        />
      </svg>
    </div>

    <div class="relative flex-1 w-full">
      <div class="absolute -inset-4">
        <div
          class="
            w-full
            h-full
            mx-auto
            rotate-180
            opacity-20
            blur-lg
            filter
            glow-gradient
          "
        ></div>
      </div>

      <div
        class="
          relative
          overflow-hidden
          bg-white
          border border-gray-200
          rounded-2xl
        "
      >
        <div class="py-8 px-9">
          <div
            class="
              inline-flex
              items-center
              justify-center
              w-10
              h-10
              text-base
              font-bold
              text-white
              bg-gray-900
              rounded-xl
              font-pj
            "
          >
            2
          </div>
          <p class="mt-5 text-xl font-medium text-gray-900 font-pj">
            Vragen over Somara
          </p>
        </div>
      </div>
    </div>

    <div class="hidden lg:block lg:-mx-2">
      <svg
        class="w-auto h-4 text-gray-300"
        viewBox="0 0 81 16"
        fill="none"
        stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 11 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 46 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 81 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 18 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 53 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 25 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 60 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 32 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 67 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 39 1)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(-0.5547 0.83205 0.83205 0.5547 74 1)"
        />
      </svg>
    </div>

    <div class="block -my-1 lg:hidden">
      <svg
        class="w-4 h-auto text-gray-300"
        viewBox="0 0 16 32"
        fill="none"
        stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 21)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 14)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 7)"
        />
        <line
          y1="-0.5"
          x2="18.0278"
          y2="-0.5"
          transform="matrix(0.83205 0.5547 0.5547 -0.83205 1 0)"
        />
      </svg>
    </div>

    <div
      class="
        relative
        flex-1
        w-full
        overflow-hidden
        bg-white
        border border-gray-200
        rounded-2xl
      "
    >
      <div class="py-8 px-9">
        <div
          class="
            inline-flex
            items-center
            justify-center
            w-10
            h-10
            text-base
            font-bold
            text-white
            bg-gray-900
            rounded-xl
            font-pj
          "
        >
          3
        </div>
        <p class="mt-5 text-xl font-medium text-gray-900 font-pj">
          Vragen over Arvin
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
.glow-gradient {
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
}
</style>
