<script setup>
import { ref, computed, onMounted } from "vue";
import { useRouter } from "vue-router";
import { authStateManager } from "../auth-state";
import { quizStateManager } from "../quiz-state";
import Categories from "./Categories.vue";

const router = useRouter();
const user = authStateManager().getUser;
const quizState = quizStateManager();

const entriesCount = quizState.getEntriesCount;

const submitResults = async () => {
  await quizState.submitQuizEntry();
  router.push("/");
};

onMounted(async () => {
  if (!user.value) {
    router.push("/");
  }

  await quizState.fetchQuizEntries();
});
</script>

<template>
  <section class="py-4 bg-gray-50 sm:py-8 lg:py-10">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-center">
        <h2
          class="
            text-3xl
            font-bold
            text-gray-900
            sm:text-4xl
            xl:text-5xl
            font-pj
          "
        >
          Woohoo! je bent de {{entriesCount}}ste deelnemer.
        </h2>
        <p
          class="
            max-w-6xl
            mx-auto
            mt-5
            text-base
            font-normal
            text-gray-600
            font-pj
          "
        >
          Op 22-05-2022 maken we de top 3 deelnemers bekend via email.
          <br />
          De correcte antwoorden en prijsuitrijking wordt gedaan tijdens het
          feest :)
        </p>
      </div>
      <div class="mt-10 flex justify-center">
        <button
          @click="submitResults"
          type="submit"
          class="
            flex
            px-6
            py-3
            text-lg
            font-bold
            text-white
            transition-all
            duration-200
            bg-gray-900
            rounded-lg
            focus:outline-none focus:bg-gray-600
            font-pj
            hover:bg-gray-600
          "
        >
          Insturen
        </button>
      </div>
    </div>
  </section>
</template>

<style scoped>
.glow-gradient {
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
}
</style>
