<script setup>
import { ref, computed, onMounted } from "vue";
import { useRouter } from "vue-router"
import { authStateManager } from '../auth-state'
import { quizStateManager } from "../quiz-state";

const router = useRouter();

const user = authStateManager().getUser;
const quizState = quizStateManager();
const entriesCount = quizState.getEntriesCount;

const inputEmail = ref();
const logIn = async () => {
  if (!user.value) {
    console.log("EMAIL: " + inputEmail.value);
    await authStateManager().logIn(inputEmail.value);
  }
  router.push('quiz');
}

onMounted(async () => {
  await quizState.fetchQuizEntries();
});
</script>

<template>
  <section class="pt-12 pb-12 sm:pb-16 lg:pt-8">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="
          grid
          max-w-lg
          grid-cols-1
          mx-auto
          lg:max-w-full lg:items-center lg:grid-cols-2
          gap-y-12
          lg:gap-x-16
        "
      >
        <div>
          <div class="text-center lg:text-left">
            <h1
              class="
                text-4xl
                font-bold
                leading-tight
                text-gray-900
                sm:text-5xl sm:leading-tight
                lg:leading-tight lg:text-6xl
                font-pj
              "
            >
              Wie kent het bruidspaar het beste?
            </h1>
            <p class="mt-2 text-lg text-gray-600 sm:mt-8 font-inter">
              Laat zien dat wat je weet over Arvin en Somara in deze quiz! De
              top 3 wint een leuke prijs.
            </p>

            <form
              v-if="!user"
              v-on:submit.prevent="logIn"
              action="#"
              method="POST"
              class="mt-8 sm:mt-10"
            >
              <div
                class="
                  relative
                  p-2
                  sm:border sm:border-gray-400
                  group
                  sm:rounded-xl
                  sm:focus-within:ring-1
                  sm:focus-within:ring-gray-900
                  sm:focus-within:border-gray-900
                "
              >
                <input
                  v-model="inputEmail"
                  type="email"
                  name=""
                  id="input-email"
                  placeholder="Vul je email adres in"
                  class="
                    block
                    w-full
                    px-4
                    py-4
                    text-gray-900
                    placeholder-gray-900
                    bg-transparent
                    border border-gray-400
                    outline-none
                    focus:border-gray-900 focus:ring-1 focus:ring-gray-900
                    rounded-xl
                    sm:border-none sm:focus:ring-0 sm:focus:border-transparent
                  "
                  required=""
                />
                <div
                  class="
                    mt-4
                    sm:mt-0
                    sm:absolute
                    sm:inset-y-0
                    sm:right-0
                    sm:flex
                    sm:items-center
                    sm:pr-2
                  "
                >
                  <button
                    type="submit"
                    class="
                      inline-flex
                      px-6
                      py-3
                      text-lg
                      font-bold
                      text-white
                      transition-all
                      duration-200
                      bg-gray-900
                      rounded-lg
                      focus:outline-none focus:bg-gray-600
                      font-pj
                      hover:bg-gray-600
                    "
                  >
                    Start Quiz
                  </button>
                </div>
              </div>
            </form>
            <div v-else class="inline-flex items-center py-5">
              <div>
                Ingelogd als: 
                <span class="ml-3 font-bold underline">{{ user.email }}</span>
              </div>
              <button
                type="submit"
                class="
                  inline-flex
                  ml-6
                  px-6
                  py-3
                  text-lg
                  font-bold
                  text-white
                  transition-all
                  duration-200
                  bg-gray-900
                  rounded-lg
                  focus:outline-none focus:bg-gray-600
                  font-pj
                  hover:bg-gray-600
                "
                @click="logIn"
              >
                Start Quiz
              </button>
            </div>
          </div>

          <div
            class="
              flex
              items-center
              justify-center
              mt-10
              space-x-6
              lg:justify-start
              sm:space-x-8
            "
          >
            <div class="flex items-center">
              <p class="text-3xl font-medium text-gray-900 sm:text-4xl font-pj">
                125
              </p>
              <p class="ml-3 text-sm text-gray-900 font-pj">
                Totale<br />Deelnemers
              </p>
            </div>

            <div class="hidden sm:block">
              <svg
                class="text-gray-400"
                width="16"
                height="39"
                viewBox="0 0 16 39"
                fill="none"
                stroke="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="0.72265"
                  y1="10.584"
                  x2="15.7226"
                  y2="0.583975"
                ></line>
                <line x1="0.72265" y1="17.584" x2="15.7226" y2="7.58398"></line>
                <line x1="0.72265" y1="24.584" x2="15.7226" y2="14.584"></line>
                <line x1="0.72265" y1="31.584" x2="15.7226" y2="21.584"></line>
                <line x1="0.72265" y1="38.584" x2="15.7226" y2="28.584"></line>
              </svg>
            </div>

            <div class="flex items-center">
              <p class="text-3xl font-medium text-gray-900 sm:text-4xl font-pj">
                {{ entriesCount }}
              </p>
              <p class="ml-3 text-sm text-gray-900 font-pj">
                Inzendingen<br />Ontvangen
              </p>
            </div>
          </div>
        </div>

        <div>
          <img
            class="w-full"
            src="https://thumbs.dreamstime.com/z/bride-groom-showing-their-engagement-wedding-rings-hands-92940845.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
</style>
