<script setup>
import { authStateManager } from "../auth-state";
import NavBar from "./NavBar.vue";
import Footer from "./Footer.vue";

const user = authStateManager().getUser;
</script>

<template>
  <div class="bg-gray-50">
    <NavBar />
    <router-view></router-view>
    <!-- <Footer /> -->
  </div>
</template>

<style> 
</style>