<script setup>
import { ref, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { authStateManager } from '../auth-state'

const router = useRouter();

const user = authStateManager().getUser;
const logOut = async () => {
  await authStateManager().logOut();
  router.push('/');
}
</script>

<template>
  <header class="py-4 md:py-6">
    <div class="container px-4 mx-auto sm:px-6 lg:px-8">
      <div class="flex items-center justify-between">
        <div class="flex-shrink-0">
          <a
            href="#"
            title=""
            class="
              flex
              rounded
              outline-none
              focus:ring-1 focus:ring-gray-900 focus:ring-offset-2
            "
          >
            <!-- <img
              class="w-auto h-8"
              src="https://d33wubrfki0l68.cloudfront.net/682a555ec15382f2c6e7457ca1ef48d8dbb179ac/f8cd3/images/logo.svg"
              alt=""
            /> -->
            Arvin&Somara
          </a>
        </div>

        <div class="flex lg:hidden">
          <button type="button" class="text-gray-900">
            <svg
              class="w-7 h-7"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>

        <div
          class="
            hidden
            lg:flex lg:ml-10
            xl:ml-16
            lg:items-center lg:justify-center lg:space-x-8
            xl:space-x-16
          "
        >
          <a
            href="#"
            title=""
            class="
              text-base
              font-medium
              text-gray-900
              transition-all
              duration-200
              rounded
              focus:outline-none
              font-pj
              hover:text-opacity-50
              focus:ring-1 focus:ring-gray-900 focus:ring-offset-2
            "
          >
            Home
          </a>
        </div>

        <div
          class="
            hidden
            lg:ml-auto lg:flex lg:items-center lg:space-x-8
            xl:space-x-10
          "
        >
          <a
            v-if="user"
            href="#"
            title=""
            class="
              text-base
              font-medium
              text-gray-900
              transition-all
              duration-200
              rounded
              focus:outline-none
              font-pj
              hover:text-opacity-50
              focus:ring-1 focus:ring-gray-900 focus:ring-offset-2
            "
          >
            {{ user.email }}
          </a>

          <a
            v-if="user"
            @click="logOut"
            href="#"
            title="Bruiloft homepage"
            class="
              px-5
              py-2
              text-base
              font-bold
              leading-7
              text-white
              transition-all
              duration-200
              bg-gray-900
              border border-transparent
              rounded-xl
              hover:bg-gray-600
              font-pj
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-gray-900
            "
            role="button"
          >
            Log Out
          </a>
          <a
            v-else
            href="https://debruiloftvanarvinensomara.nl/"
            title="Bruiloft homepage"
            class="
              px-5
              py-2
              text-base
              font-bold
              leading-7
              text-white
              transition-all
              duration-200
              bg-gray-900
              border border-transparent
              rounded-xl
              hover:bg-gray-600
              font-pj
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-gray-900
            "
            role="button"
          >
            Bruiloft homepage
          </a>
        </div>
      </div>
    </div>
  </header>
</template>

<style>
</style>