<script setup>
import { ref, computed, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import { authStateManager } from "../auth-state";
import { quizStateManager } from "../quiz-state";
import {
  collection,
  query,
  where,
  getDocs,
  setDoc,
  addDoc,
  serverTimestamp,
} from "firebase/firestore";
import { db } from "../firebaseDB";

import Categories from "./Categories.vue";
import Question from "./Question.vue";

const route = useRoute();
const router = useRouter();
const user = authStateManager().getUser;
const quizState = quizStateManager();

const answers = quizState.getAnswers;
const questions = quizState.getQuestions;

const questionIndex = computed(() => {
  if (route.params.index) return route.params.index;
  return 0;
}); 

const questionPeek = computed(() => {
  var start = Number(questionIndex.value) - 2;
  var end = Number(questionIndex.value) + 3;

  if (start <= 0) {
     start = 0;
     end = 5;
  }

  console.log(start);
  console.log(end);

  return questions.value.slice(start, end);
}); 

const hasAnswered = (questionId) => {
  return answers.value.find((ans) => ans.questionId === questionId);
}
const answerCount = computed(() => answers.value.length);
const activeQuestion = computed(() => questions.value[questionIndex.value]);

// Handle submit and question switch
const next = async (answer) => {
  if (!user) {
    console.log("no auth session");
    return;
  }

  // submit answer
  const questionRef = `/questions/${activeQuestion.value.id}`;
  quizState.submitAnswer(
    questionRef,
    answer,
    activeQuestion.value.storedAnswer
  );

  // Navigate next question
  const idx = Number(questionIndex.value) + 1;
  if (idx == questions.value.length) {
    router.push({name: 'finalize'});
    return;
  };

  // Refresh local answers
  await quizState.fetchAnswers();

  const route = `/vragen/${idx}`;
  router.push(route);
};

const previous = () => {
  const idx = Number(questionIndex.value) - 1;
  if (idx < 0) return;
  const route = `/vragen/${idx}`;
  router.push(route);
};

const fetchData = async () => {
  await quizState.fetchQuestions();
  await quizState.fetchAnswers();
};

onMounted(async () => {
  await fetchData();
});
</script>

<template>
  <section class="py-12 bg-gray-100 sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="
          grid
          items-top
          max-w-12xl
          grid-cols-1
          mx-auto
          space-y-4
          lg:grid-cols-2
          sm:space-y-4
          lg:space-x-8
          xl:space-x-8
        "
      >
        <div class="relative max-w-sm mx-auto">
          <div class="absolute -inset-1.5">
            <!-- <div
              class="
                w-full
                h-full
                mx-auto
                opacity-20
                blur-lg
                filter
                glow-gradient
              "
            ></div> -->
          </div>

          <div class="relative overflow-hidden bg-white rounded-2xl">
            <div class="text-gray-900 bg-white rounded-lg">
              <button
                v-for="(q, key) in questionPeek"
                :key="q"
                type="button"
                class="
                  py-4
                  px-4
                  w-full
                  text-left
                  font-pj
                  border-b border-gray-200
                "
                :class="[
                  { 'bg-black': q.id == activeQuestion.id },
                  { 'text-white': q.id == activeQuestion.id },
                  { 'focus:outline-none': q.id == activeQuestion.id },

                  { 'hover:bg-gray-200': q.data.index < activeQuestion.data.index },
                  { 'hover:text-black': q.data.index < activeQuestion.data.index },

                  { 'bg-gray-100': q.data.index > activeQuestion.data.index },

                  { 'cursor-pointer': q.id != activeQuestion.id },
                ]"
                :disabled="!hasAnswered(q.id)"
                @click="router.push(`/vragen/${q.data.index}`)"
              >
               <span v-if="hasAnswered(q.id)">✓</span>
               <span v-else>{{ key }}</span>
               {{ q.data.title }}
              </button>
            </div>
          </div>
          <div class="text-center">{{answerCount}} van de 0 vragen beantwoord.</div>
        </div>

        <Question
          v-if="activeQuestion"
          :question="activeQuestion"
          @next="next"
          @previous="previous"
        />
      </div>
    </div>
  </section>
</template>

<style scoped>
.glow-gradient {
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
}
</style>
