<script lang="ts" setup>
import { ref, computed, onMounted, watch } from "vue";
import { useRouter } from "vue-router";
import { authStateManager } from "../auth-state";
import { quizStateManager } from "../quiz-state";
import Categories from "./Categories.vue";

const props = defineProps(["question"]);

const router = useRouter();
const user = authStateManager().getUser;
const quizState = quizStateManager();

const emit = defineEmits(["next", "previous"]);

const previous = (event) => {
  event.preventDefault();
  emit("previous");
};
const onSubmit = (event) => {
  event.preventDefault();
  if (!userAnswer.value) {
    alert("Nog geen antwoord gegeven!");
    return;
  }

  emit("next", userAnswer.value);
};

const setExistingAnswer = (id) => {
  const existingAnswer = quizState.getAnswers.value.find((ans) => {
    return ans.question === `/questions/${id}`;
  });
  if (existingAnswer) {
    userAnswer.value = existingAnswer.answer;
  } else {
    userAnswer.value = undefined;
  }
};

const allAnswers = computed(() => quizState.getAnswers.value);
const userAnswer = ref();
const questionData = computed(() => {
  return props.question.data;
});
const type = computed(() => props.question.data.type);

const imageSrc = computed(() => {
  if (!props.question?.data.image) return undefined;
  return props.question.data.image;
});

const description = computed(() => {
  if (!props.question?.data.desc) return undefined;
  return props.question.data.desc;
});

watch(
  () => props.question,
  (newQuestion, oldQuestion) => {
    console.log(newQuestion);
    setExistingAnswer(newQuestion.id);
  }
);

onMounted(() => {
  setExistingAnswer();
});
</script>

<template>
  <div class="max-w-xl mx-auto text-center lg:text-left lg:max-w-none">
    <span>{{ question.id }}</span>
    <!-- <span>Vragen over Arvin</span> -->
    <h2
      class="text-2xl font-bold text-gray-900 sm:text-2xl xl:text-3xl font-pj"
    >
      {{ questionData?.title }}
    </h2>

    <div v-if="description" class="mt-8 p-4 text-base font-pj bg-white">
      <span>Extra informatie</span>
      <p class="text-gray-600 mt-2">
        {{ description }}
      </p>
    </div>

    <div v-if="imageSrc" class="mt-8 p-5 text-base font-pj bg-white rounded-xl">
      <span>Afbeelding</span>
      <img class="w-full mt-2" :src="imageSrc" alt="hint" />
    </div>

    <form @submit.prevent="onSubmit" action="#" method="POST" class="mt-12">
      <div class="px-5">
        <label for="" class="text-base font-medium text-gray-900 font-pj">
          Antwoord
        </label>
        <div v-if="type == 'open'" class="mt-2.5">
          <input
            v-model="userAnswer"
            type="text"
            name="answer"
            id="inputAnswer"
            placeholder="Open vraag"
            class="
              block
              w-full
              px-4
              py-4
              text-gray-900
              placeholder-gray-600
              bg-white
              border border-gray-400
              rounded-xl
              focus:border-gray-900 focus:ring-gray-900
              caret-gray-900
            "
          />
        </div>
        <div v-if="type == 'mc'" class="mt-2.5">
          <div
            v-for="key in Object.keys(questionData.answers).sort()"
            :key="key"
          >
            <div
              class="
                relative
                flex
                items-center
                my-5
                bg-white
                py-5
                px-5
                border border-gray-400
                rounded-xl
              "
            >
              <div class="flex items-center h-5">
                <input
                  @change="userAnswer = $event.target.value"
                  :value="key"
                  type="radio"
                  name="answer-radios"
                  :id="`answer-${key}`"
                  :checked="userAnswer == key"
                  class="
                    w-5
                    h-5
                    text-gray-900
                    border-gray-300
                    rounded-xl
                    focus:ring-gray-600
                  "
                />
              </div>

              <div class="ml-3 text-base">
                <label for="terms" class="font-normal text-gray-900 font-pj">
                  {{ key }} - {{ questionData.answers[key] }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-between pt-5">
        <button
          @click="previous"
          class="
            inline-flex
            items-center
            justify-center
            px-8
            py-4
            mt-5
            text-base
            font-bold
            text-white
            transition-all
            duration-200
            bg-gray-900
            border border-transparent
            rounded-xl
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-gray-900
            font-pj
            hover:bg-gray-600
          "
        >
          Vorige
        </button>
        <button
          type="submit"
          class="
            inline-flex
            items-center
            justify-center
            px-8
            py-4
            mt-5
            text-base
            font-bold
            text-white
            transition-all
            duration-200
            bg-gray-900
            border border-transparent
            rounded-xl
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-gray-900
            font-pj
            hover:bg-gray-600
          "
        >
          Volgende
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped>
.glow-gradient {
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
}
</style>
