<script setup>
import { ref, computed } from "vue";
import { useRouter } from "vue-router"
import { authStateManager } from "../auth-state";
import { quizStateManager } from "../quiz-state";
import Categories from "./Categories.vue";

const router = useRouter();
const user = authStateManager().getUser;
const quizState = quizStateManager();

const start = () => {
  quizState.createQuizEntry();
  router.push({name: 'questions', params: {index: 0}});
}
</script>

<template>
  <section class="py-4 bg-gray-50 sm:py-8 lg:py-10">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-center">
        <h2
          class="
            text-3xl
            font-bold
            text-gray-900
            sm:text-4xl
            xl:text-5xl
            font-pj
          "
        >
          Hoe het werkt
        </h2>
        <p
          class="
            max-w-6xl
            mx-auto
            mt-5
            text-base
            font-normal
            text-gray-600
            font-pj
          "
        >
          <ul>
            <li>3 categorieën met ieder verschillende soorten vragen: open of multiple choice.</li> 
            <li>Er is geen tijdslimiet, behalve de deadline van 10 juni.</li>
            <li>Het is mogelijk de quiz tussendoor te stoppen en op een ander moment te hervatten d.m.v. je email adres.</li>
            <li>Rondsnuffelen op internet/social media is toegestaan!</li>
            <li>Bij gelijkspel, rollen we de dobbelsteen.</li>
          </ul>
        </p>
      </div>
      <div class="mt-10 flex justify-center">
        <button
          @click="start"
          type="submit"
          class="
            flex
            px-6
            py-3
            text-lg
            font-bold
            text-white
            transition-all
            duration-200
            bg-gray-900
            rounded-lg
            focus:outline-none focus:bg-gray-600
            font-pj
            hover:bg-gray-600
          "
        >
          Begin
        </button>
      </div>
      <Categories class="my-6 lg:my-16" />
    </div>
  </section>
</template>

<style scoped>
.glow-gradient {
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
}
</style>
